/**
 * @file
 * Visual styles for op_highlight paragraphs type in Tourism+.
 */
.field--type-entity-reference-revisions > .field__item {
  clear: both;
}
.field--type-entity-reference-revisions > .field__item:last-child {
  margin-bottom: 30px;
}
.field--type-entity-reference-revisions > .field__item:last-child:after {
  clear: both;
  display: table;
  content: " ";
}
.paragraph--type--op-highlight {
  padding: 1.8em 0;
}
.paragraph--type--op-highlight:before,
.paragraph--type--op-highlight:after {
  display: table;
  content: " ";
}
.paragraph--type--op-highlight:after {
  clear: both;
}
.field--name-field-op-highlight-title {
  font-size: 28px;
  line-height: 1.20;
  margin: 0 0 10px 0;
  padding-top: 5px;
  font-weight: 700;
  color: #363636;
}
.field__item .field--name-field-op-highlight-body:after {
  clear: none;
}
.field--name-field-op-highlight-link a {
  color: #ffffff;
  font-size: 16px;
  padding: 13px 25px;
  margin-bottom: 30px;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  min-width: 200px;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  background-color: transparent;
}
.field--name-field-op-highlight-link a:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .field--name-field-op-highlight-title {
    padding-top: 20px;
  }
}
@media (min-width: 768px) { 
  .paragraph--type--op-highlight .field--name-field-op-highlight-image {
    width: 48%;
  }
  .field__item:nth-child(even) .field--name-field-op-highlight-image {
    float: left;
  }
  .field__item:nth-child(even) .field--name-field-op-highlight-title,
  .field__item:nth-child(even) .field--name-field-op-highlight-body,
  .field__item:nth-child(even) .field--name-field-op-highlight-link {
    margin-left: 52%;
  }
  .field__item:nth-child(odd) .field--name-field-op-highlight-image {
    float: right;
  }
  .field__item:nth-child(odd) .field--name-field-op-highlight-title,
  .field__item:nth-child(odd) .field--name-field-op-highlight-body,
  .field__item:nth-child(odd) .field--name-field-op-highlight-link {
    margin-right: 52%;
  }
  .field--name-field-op-highlight-link a {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) { 
  .field--name-field-op-highlight-title {
    margin-bottom: 0;
  }
}
