/**
 * @file
 * Visual styles for OpenElections product content type.
 */
.node--type-op-product .node__header {
  padding: 0;
}

/*page title*/ 
.layout-no-sidebars.page-node-type-op-product .page-title {
  text-align: center;
}

/*subheader field*/
.node--type-op-product .field--name-field-op-subheader-body {
  font-size: 22px;
  padding: 0;
  line-height: 1.5;
  margin-top: -15px;
  margin-bottom: 30px;
}
.layout-no-sidebars .node--type-op-product .field--name-field-op-subheader-body {
  text-align: center;
}
@media (min-width: 768px) {
  .layout-no-sidebars .node--type-op-product .field--name-field-op-subheader-body {
    padding: 0 20%;
  }
}

/*image field*/
.node--type-op-product .field--name-field-image {
  margin-bottom: 30px;
}
.node--type-op-product.node--view-mode-teaser .images-container {
  margin-bottom: 15px;
}

/*price field*/
.node--type-op-product .field--name-field-op-price {
  font-size: 42px;
  margin: 30px 0 5px;
}
.node--type-op-product .field--name-field-op-price + .field {
  padding-top: 25px;
}

/*buy link field*/
.node--type-op-product .field--name-field-op-buy-link a {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 23px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 20px 0;
  text-align: center;
  color: #ffffff;
}
.headings-wide-spacing-enabled .node--type-op-product .field--name-field-op-buy-link a {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.node--type-op-product .field--name-field-op-buy-link a:hover {
  color: #ffffff;
}
.region--light-typography .node--type-op-product .field--name-field-op-buy-link a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}
.region--light-typography .node--type-op-product .field--name-field-op-buy-link a:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

/*availabilty and product code fields*/
.node--type-op-product .field--name-field-op-product-code,
.node--type-op-product .field--name-field-op-product-availability {
  margin: 10px 0;
}
.node--type-op-product .field--name-field-op-product-code .field__label,
.node--type-op-product .field--name-field-op-product-availability .field__label {
  font-weight: 400;
}
.node--type-op-product .field--name-field-op-product-code .field__item,
.node--type-op-product .field--name-field-op-product-availability .field__item {
  color: #9c9c9c;
}
.node--type-op-product .field--name-field-op-product-code .field__item:before {
  content: "#";
}
