/**
 * @file
 * Visual styles for OpenElections slider revolution video gallery.
 */
/* Video thumbs z-index fix */
.field--name-field-op-video-gallery-slides .tp-thumbs {
  z-index: 480;
}
.field--name-field-op-video-gallery-slides {
  background-color: #232323;
}
.container-fluid .field--name-field-op-video-gallery-slides {
  margin-left: -15px;
  margin-right: -15px;
}
.field--name-field-op-video-gallery-slides embed,
.field--name-field-op-video-gallery-slides iframe,
.field--name-field-op-video-gallery-slides video {
  border: 0;
}

/* Thumbnails styling */
.field--name-field-op-video-gallery-slides .erinyen .tp-thumb-title {
  font-family: inherit;
}
.field--name-field-op-video-gallery-slides .erinyen .tp-thumb.selected .tp-thumb-over,
.field--name-field-op-video-gallery-slides .erinyen .tp-thumb:hover .tp-thumb-over {
  background: rgba(0,0,0,0.65);
}
.field--name-field-op-video-gallery-slides .erinyen .tp-thumb.selected .tp-thumb-more,
.field--name-field-op-video-gallery-slides .erinyen .tp-thumb.selected .tp-thumb-title,
.field--name-field-op-video-gallery-slides .erinyen .tp-thumb:hover .tp-thumb-title {
  color: #fff;
}

/*navigation styling*/
.field--name-field-op-video-gallery-slides .tparrows:before {
  min-width: 65px;
}