/**
 * @file
 * Visual styles for Corporate+'s articles list 2 views.
 */
.view-articles-list-2 .views-row {
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
}
.view-articles-list-2 .views-row:after {
  font-family: "FontAwesome";
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  content: "\f044";
}
.view-articles-list-2 .views-field-title h4 {
  font-size: 15px;
  margin: 0;
  padding-top: 4px;
}
.view-articles-list-2 .views-field-title a {
  margin-bottom: 0;
}
.view-articles-list-2 .views-field-body p {
  padding-bottom: 5px;
}
.view-articles-list-2 .post-meta {
  font-size: 11px;
}
.view-articles-list-2 .post-meta-item {
  display: inline-block;
}
.view-articles-list-2 > .more-link { 
  padding-left: 50px;
}
